include ../mixin/actionFriend
include ../mixin/ratingIcon
include ../dependency/datatable
include ../functionScript/fillRatingIcon


mixin Usertable(suggestion, infosys, usersId, ownUser)

    .default-table-wrapper
        table#usertable.default-table.compact.row-border
            thead
                tr
                    th Name
                    th Alias
                    if (suggestion)
                        th Rating
                    - for (var i = 0; i < infosys.categories.length; i++)
                        th #{infosys.categories[i]} Coeficient
                    th Action
            tbody
                - for (var i = 0; i < usersId.length; i++)
                    tr
                        td
                            a(href='/user/'+ usersId[i], id="userhref"+i) #{infosys.usernames[usersId[i]]}
                        td
                            | Alias

                        if (suggestion)
                            td(data-sort= suggestion.userRating[usersId[i]] )
                                +ratingIcon(i, "UserOnSuggestion")
                        
                        - for (var j = 0; j < infosys.categories.length; j++){
                            if ((ownUser.correlation[usersId[i]]) && (ownUser.correlation[usersId[i]][infosys.categories[j]]))
                                td(data-correlation= ownUser.correlation[usersId[i]][infosys.categories[j]])
                                    +ratingIcon(i + "-" + j, "UserCorrelation")
                            else
                                td
                                    +ratingIcon(i + "-" + j, "Sharp")
                        -}

                        td
                            +ActionFriend(i, usersId[i], ownUser)

    script.
        $(document).ready(function(){
            FillRatingIcon();
        });

        $(document).ready(function() {
            $('#usertable').DataTable( {
                "language": {
                "emptyTable": "No users"
                },
                "ordering": true,
                "paging": false,
            });
        });
                