extends layout/out

block content

        include dependency/datatable

        form(action='/', method='get', style="width:400px; margin:auto; margin-top:15px")
                .input-group
                        input.form-control(type='text', name='search', placeholder='Pesquisar')
                        .input-group-append
                                button(type="submit" class="btn btn-outline-primary")
                                        span.fas.fa-search
                                        | #{""}

        if (infosys)
                .default-table-wrapper(style="font-size:10px")
                        table#myTable.default-table.compact.cell-border
                                thead
                                        tr
                                                -for (var i = 1; i < infosys.data.length; i++) {
                                                        th #{infosys.data[i]}
                                                -}
                                tbody
                                        -for(var i = 0; i < info.length; i++){
                                                tr
                                                        -for(var j = 1; j < info[i].data.length;j++){
                                                                td #{info[i].data[j]}
                                                        -}
                                        -}

        script.
                $(document).ready(function() {
                        $('#myTable').DataTable( {
                                "language": {
                                        "emptyTable": "Nenhum contato encontrado"
                                },
                                "ordering": true,
                                "paging": false,
                                "info": false,
                                "searching": false,
                        });
                });

