extends layout/out

block content

    if (message != undefined && message.length)
        if (message.toString().charAt(0) == '!')
            div#message.alert.alert-danger #{message.toString().slice(1)}
        else
            div#message.alert.alert-success #{message}
    else
        div#message

    input(type="file", id="file", style="margin-top:15px")

    script(src="scripts/read-excel-file.min.js")

    script.
        
        const input = document.getElementById('file')

        input.addEventListener('change', () => {
        readXlsxFile(input.files[0]).then((data) => {

                $("#message").removeClass("alert-success")
                $("#message").html("Uploading . . . wait . . .").addClass("alert-danger").show();

                $.post("/updateinfo",{data:data}, function(data){
                    if (data.message){
                        $("#message").removeClass("alert-danger")
                        $("#message").html("Sucessfully uploaded! Redirecting . . .").addClass("alert-success").show();

                        window.location.href = "/";
                    }
                    else{
                        $("#message").removeClass("alert-danger")
                        $("#message").html("ERROR! Try refreshing the page (press F5) and upload again.").addClass("alert-success").show();
                    }

                });
            })
        })